.navbar{
    background-color: rgb(12,52,61);
    height: 70px;
    padding: 0.5rem;
    margin: 0;
}

.Signup-button {
    
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    
    margin-right: 15px;   /* adds space after Signup */

}

.Signup-button:hover {
    background-color:gray;
    color: white;
}

.login-button {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color:gray;
    color: white;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

/* IMPORTANT FIX */
.nav-link {
    color: white!important;  /* override bootstrap */
    font-weight: 500;
    font-size: 23px;
    position: relative;        /* parent must be relative */
}

/* Hover color */
.nav-link:hover,
.nav-link.active {
    color:white !important;
}

/* Underline */
.nav-link::before {
    content: "";
    position: absolute;        /* MUST be absolute */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s ease-in-out;
}

/* Show underline on hover */
.nav-link:hover::before {
    width: 100%;
}
.navbar-brand img {
    height: 100px;
    width: 100px;
    filter: brightness(0) invert(1);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(12,52,61);
    font-family: 'Oswald' , sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    background: white;
}

a{
    color: #333;
    text-decoration: none;
}

.container{
   
 max-width: 1000px;
 margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1.5rem 0;
}

.logo{
    font-size: 2.5rem;
    color: green;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-weight: 700;
    padding: 0 1.5rem;
}
.active{
    color: green;
}
.hero{
    height: 55vh;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 8%;
    
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: rgb(12,52,61);
}

.hero h1 span {
color: rgb(168, 58, 58);

}

img {
    width: 100%;
}
.card {
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(12,52,61);
    gap: 2rem;
    margin-bottom: 2rem;
    margin: 2rem 8%;
    /* background: #ececec; */
    background: #e6f2f2;
backdrop-filter: blur(15px);
border-radius: 30px;
box-shadow: 0 25px 60px rgba(13,43,92,0.08);
}
.card > div {
    padding: 2rem;
}

.card:nth-of-type(even) img {
    order: 2;
}

.card img {
    height: 450px;
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}



.btn{
display: inline-block;
text-transform: capitalize;
background: rgb(12,52,61);
color: #fff;
padding: .8rem 1.8rem;
margin-top: 2rem;
cursor: pointer;
transition: opacity .2s ease;
            cursor: pointer;
            font-weight: bold;
}

.btn:hover {
    opacity: .8;
    color: rgb(12,52,61);
}



@media(max-width: 1080px) {
    .container{
        padding: 0 5%;
    }
}
.more-text {
            display: none;
}

@media(max-width: 700px) {
 BODY{
    font-size: 1.2rem;
 }

 .hero h1,
 .logo{
    font-size: 2rem;
 }
 .card{
    display: block;
 }
}
/* Footer Main */
.footer {
    background-color: rgb(12,52,61);
    color: #ccc;
    padding: 25px 10%;
    font-size: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

/* Left Side */
.footer-left h2,
.footer-right h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 24px;
}

.footer-left p {
    margin-bottom: 15px;
    line-height: 1.7;
}

/* Center */
.footer-center {
    text-align: center;
    max-width: 350px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 25px;
    filter: brightness(0) invert(1);
}

.footer-text {
    margin-bottom: 25px;
    line-height: 1.8;
}

/* Social Icons */
.social-icons i {
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #fff;
}

/* Right Side */
.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 10px;
}

.footer-right ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-right ul li a:hover {
    color: rgb(149, 155, 231);
    padding-left: 5px;
}
/* Responsive */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        text-align: center;
    }
}



